@media (min-width: 1120px) and (max-width: 1258px) {
    .site-nav-wrepper {
        padding: 0 20px;
    }

    .portfolio_img_box {
        width: 19.72%;
    }

}

@media (min-width: 992px) and (max-width: 1119px) {
    .site-nav-wrepper {
        padding: 0 20px;
    }

    .navbar {
        background: rgba(0, 0, 0, 0.5);
        padding: 7px 0;
    }

    .portfolio_img_box {
        width: 19.68%;
    }

    .home_pera {
        font-size: 19px;
    }

    .welcome_pera a,
    .work_col-1 a,
    .offer_col-1 a,
    .theme_link {
        width: 60%;
        padding: 5px 0px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 85% !important;
    }

    .site-nav-wrepper {
        padding: 0 20px;
    }

    .navbar {
        background: rgba(0, 0, 0, 0.5);
        padding: 7px 0;
    }

    .services_col {
        padding: 10px 20px;
    }

    .portfolio_img_box {
        width: 19.59%;
    }

    .home_pera {
        font-size: 15px;
    }

    .bg-light {
        float: right;
    }

    .scrollup {
        border-radius: 15px;
        bottom: 15px;
        right: 15px;
        padding: 5px 0px;
    }

    .home_row a,
    .welcome_pera a,
    .work_col-1 a,
    .offer_col-1 a,
    .theme_link {
        width: 60%;
        padding: 5px 0px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .team_img_box {
        width: 100%;
        height: 250px;
    }

    .team_member_contact a {
        height: 30px;
        width: 30px;
        font-size: 18px;
        padding-top: 2px;
        float: left;
        margin-left: 10px;
        margin-top: 100px;
    }

    .team_member_contact a:first-of-type {
        margin-left: 13px;
    }

    .portfolio_img_box {
        height: 250px;
    }

    .portfolio_link {
        left: 30%;
        right: -30%;
        margin-left: 20%;
    }

    .portfolio_img_box a {
        font-size: 12px;
        padding: 5px 0px;
    }

    .mac_img_box {
        height: 281px;
        margin-top: 0px;
    }

    .statistic-counter {
        width: 80%;
    }

    .footer_menu a {
        padding: 15px 10px;
    }


}


/*      Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {
    html {
        font-size: 75% !important;
    }

    .site-nav-wrepper {
        padding: 0 20px;
    }

    .navbar {
        background: rgba(0, 0, 0, 0.5);
        padding: 7px 0;
    }

    .padding {
        padding: 0px 5px;
    }

    .logo_img {
        margin-left: 0px;
    }

    .home_row {
        position: absolute;
        top: 0;
        left: 25px;
        z-index: 10;
        width: 95%;
    }

    .home_title {
        font-size: 20px;
        margin-top: 70px !important;
        padding: 0px !important;
        text-align: center;
        margin-left: -50px;
    }

    .home_pera {
        margin-left: -20px;
    }

    .home_pera {
        font-size: 13px;
    }

    .scrollup {
        bottom: 10px;
        right: 10px;
    }

    .product_item_box {
        text-align: center;
    }

    .portfolio_img_box {
        position: relative;
        width: 50%;
        height: 150px;
        border: 1px solid gray;
    }

    .letter_sp {
        font-size: 10px;
        letter-spacing: 5px;
    }

    .welcome_title {
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px 15px;
    }

    .welcome_pera {
        padding: 5px 15px;
        font-size: 13px;
    }

    .work_col-1 {
        padding: 20px 15px;
    }

    .product_title {
        font-size: 18px;
        margin-top: -30px;
        margin-bottom: -40px;
        text-align: center;
    }

    .portfolio_title {
        font-size: 18px;
        margin-top: -30px;
        margin-bottom: -30px;
        text-align: center;
    }

    .team_title {
        font-size: 18px;
        margin-top: -30px;
        margin-bottom: -30px;
        text-align: center;
    }

    .skill_main_title {
        font-size: 18px;
    }

    .bg-light {
        float: right;
    }

    .work_item_pera {
        font-size: 14px;
    }

    .zero_padding {
        padding: 0px;
    }

    .home_row a,
    .welcome_pera a,
    .work_col-1 a,
    .offer_col-1 a {
        margin-left: 15%
    }

    .home_row a,
    .welcome_pera a,
    .work_col-1 a,
    .offer_col-1 a,
    .theme_link {
        width: 60%;
        padding: 5px 0px;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .portfolio_img_box a {
        width: 100px;
        padding: 5px 0px;
        margin-top: 10px;
        font-size: 12px;
    }

    .waiting_link {
        width: 70%;
        padding: 10px 0px;
        margin-top: 10px;
        font-size: 14px;
        margin: 0% 15%;
    }

    .static_col {
        padding: 20px 0px;
    }

    .statistic-counter,
    .static_col_box p,
    .static_col_box h1 {
        padding: 3px 0px;
    }

    .statistic-counter {
        width: 90%;
    }

    .team_img_box {
        width: 90%;
        height: 200px;
        margin: 0px auto;
        margin-top: 10px;
    }

    .team_description {
        margin-top: -60px;
        padding: 1px 0px;
    }

    .team_name {
        margin-bottom: -5px;
    }

    .team_member_contact {
        opacity: 1;
    }

    .team_member_contact a {
        height: 30px;
        width: 30px;
        display: block;
        text-align: center;
        font-size: 18px;
        margin-left: 10px;
        margin-top: 15px;
    }

    .waiting_row {
        padding: 20px 0px;
        margin-top: 20px;
    }

    .waiting_title {
        padding-bottom: 0px;
    }

    .team_main_title {
        font-size: 18px;
        margin-top: -30px;
        margin-bottom: -30px;
        text-align: center;
    }

    .offer_item_pera {
        font-size: 13px;
    }

    .offer_logo_img {
        width: 45%;
        height: 70px;
        margin: 0px auto;
        float: left;
        margin-top: 10px;
        margin-right: 10px;
        border: 1px solid gray;
    }

    .offer_logo_img:last-of-type {
        margin-bottom: 10px;
    }

    .skill_main_title {
        font-size: 18px;
        margin-top: -30px;
        margin-bottom: -30px;
        text-align: center;
    }

    .skil_description {
        margin-top: 15px;
        font-size: 13px;
        letter-spacing: 0.3px;
    }

    .progress-content-outter {
        height: 15px;
        background-color: #d7e6c9;
        border-radius: 5px
    }

    .progress-content {
        height: 15px;
        background-color: #04b10b;
        border-radius: 5px;
        width: 0%;
        /* Initial value */
    }

    .map_title {
        font-size: 18px;
    }

    .map_top_row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .social_link {
        height: 25px;
        width: 25px;
        font-size: 18px;
        padding-top: 0px;
        margin-right: 8px;
    }

    .contact_title {
        text-align: center;
    }

    .contact_pera-1 {
        font-size: 14px;
    }

    .footer_menu li {
        float: left;
    }

    .footer_menu a {
        padding: 10px 10px;
        font-size: 12px;
        margin-top: 15px;
    }

    .work_col-2,
    .offer_item_box,
    .product_top_row {
        overflow: hidden;
    }

    .scrollup {
        border-radius: 15px;
        bottom: 10px;
        right: 10px;
        padding: 5px 0px;
    }

    .services_item_box {
        text-align: center;
    }

    .services_title {
        text-align: center;
    }

    .mac_img_box {
        width: 100%;
        height: 240px;
        margin-top: 0px;
    }

    .footer_text {
        text-align: center;
    }

    .work_item_box {
        padding: 20px 30px !important;
    }

    .portfolio_img_box {
        width: 49.6%;
    }

    .offer_col-1 {
        padding: 20px 15px;
    }

    .offer_col-2 {
        padding: 20px 30px;
    }

    .offer_item_box {
        overflow: visible;
    }




}



/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (max-width: 480px) {
    .site-nav-wrepper {
        padding: 0;
    }

    .navbar-nav > li > a {
        font-size: 12px;
    }

    .navbar {
        background: rgba(0, 0, 0, 0.5);
        padding: 7px 0;
    }

    .portfolio_img_box {
        width: 100%;
    }

    .working_prc_title {
        text-align: center;
    }

}